{% extends 'base.html' %}
{% block content %}
<h2>{{ 'Edit Student' if is_edit else 'Register Student' }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
    <div class="mb-3">{{ form.roll_no.label }} {{ form.roll_no(class="form-control") }}</div>
    <div class="mb-3">{{ form.email.label }} {{ form.email(class="form-control") }}</div>
    <div class="mb-3">{{ form.age.label }} {{ form.age(class="form-control") }}</div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}
